NODE_ENV=production
PORT=3000
CLUSTER=true
WORKERS=auto
BASE_URL=https://link2me.fr
SESSION_SECRET=change_me_with_a_long_random_string
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TRUST_PROXY=1
GITHUB_TOKEN=ghp_XXXXXXXXXXXXX
GITHUB_OWNER=maxoucail
GITHUB_REPO=Guns.io
GITHUB_UPLOADS_BRANCH=uploads
MAX_AVATAR_SIZE=8388608
MAX_BANNER_SIZE=8388608
ADMIN_PASSWORD=
